// Grid placeholders.
%grid {
    letter-spacing: -0.3125em;
    width: 100%;
    text-rendering: optimizespeed;
}
%grid_item {
    display: inline-block;
    letter-spacing: normal;
    position: relative;
    vertical-align: top;
    text-rendering: auto;
    @include prefix((
        box-sizing: border-box
    ));
}

// Calculates the width.
@function calculate_width($fraction) {
    @return $fraction * 100%;
}

// width css mixin.
@mixin width($fraction, $gutter: null) {
    width: calculate_width($fraction);

    @if $gutter {
        padding: $gutter;
    }
}