<section id="campDetails">
    <div class="wrapper">
        <h2 class="title">Camp Details</h2>
        <div id="date" class="date details">
            <div class="dateIcon icon-calendar"></div>
            <div class="dateText">December <span>21 - 24</span> 2014</div>
        </div>
        <div id="venue" class="venue details">
            <div class="venueIcon icon-location"></div>
            <div class="venueText">Budlaan, Cebu City</div>
        </div>
        <div id="theme" class="theme details">
            <div class="themeIcon icon-wand"></div>
            <div class="themeText">
                C.<span>Connect</span>
                A.<span>Adventure</span>
                F.<span>Faith</span>
                E.<span>Educate</span>
            </div>
        </div>
        <div class="registration">
            <h3 class="title">Registration</h3>
            <div id="amountWrap" class="amountWrap">
                <div class="amount">
                    <p class="fee">300 <span>php</span></p>
                    <p class="until">until October 31</p>
                </div>
                <div class="amount">
                    <p class="fee">350 <span>php</span></p>
                    <p class="until">until November 30</p>
                </div>
                <div class="amount">
                    <p class="fee">375 <span>php</span></p>
                    <p class="until">until December 20</p>
                </div>
                <div class="amount">
                    <p class="fee">400 <span>php</span></p>
                    <p class="until">on-site registration</p>
                </div>
            </div>
        </div>
    </div>
</section>