<section id="campDetails">
    <div class="wrapper">
        <h2 class="title">Camp Details</h2>
        <div id="date" class="date details">
            <div class="dateIcon icon-calendar"></div>
            <div class="dateText">December <span>21 - 24</span> 2014</div>
        </div>
        <div id="venue" class="venue details">
            <div class="venueIcon icon-location"></div>
            <div class="venueText">Budlaan, Cebu City</div>
        </div>
        <div id="theme" class="theme details">
            <div class="themeIcon icon-wand"></div>
            <div class="themeText">
                C.<span>Connect</span>
                A.<span>Adventure</span>
                F.<span>Faith</span>
                E.<span>Educate</span>
            </div>
        </div>
    </div>
</section>