<section id="keepInTouch">
    <div class="wrapper">
        <h2 class="title">Keep in touch with us!</h2>
        <div class="social">
            <a href="http://www.facebook.com/groups/cvdnyi" class="fb icon-facebook"></a>
        </div>
        <div class="sponsor">
            <img src="/assets/images/sponsor.png">
        </div>
        <div class="credits">
            <span class="copyright">&copy; 2014 <a href="http://facebook.com/groups/cvdnyi">NYI-CVD.</a></span>
            <span class="author">Design and Developed by <a href="https://plus.google.com/+BenjaminRosende/">Kinah Watts.</a></span>
            <span class="fonticons">Icons by <a href="http://icomoon.io">Icomoon.</a></span>
            <span class="fonticons">Imagery via <a href="http://unsplash.com">Unsplash.</a></span>
        </div>
    </div>
</section>