<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ "/assets/css/app.css" | prepend: site.url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}">
</head>
