<header id="home" class="header">
    <div class="wrapper">
        <div class="banner">
            <h1 class="siteTitle animated bounceInDown">December Camp 2014</h1>
            <p class="subtitle animated fadeInUp delay1">Nazarene Youth International</p>
            <p class="subtitle animated fadeInUp delay1">Central Visayas</p>
            <!-- <img src="/assets/images/header_title.png" class="animated bounceInDown"> -->
            <p class="invite animated fadeInUp delay2">Inviting all youth and young-at-heart to join for this year's December Camp!</p>
        </div>
    </div>
</header>
<div class="menuBar">
    <div class="menuWrap">
        <div data-scroll-header class="logoWrap">
            <div class="logo"><a href="http://nyi-cafe.github.io"><img src="/assets/images/nyicvd.png"></a></div>
            <div class="mobileMenu">MENU</div>
        </div>
        <nav class="navWrap" role="navigation">
            <ul>
                <li><a data-scroll class="hover" href="#home">Home</a></li>
                <li><a data-scroll class="hover" href="#campDetails">Camp Details</a></li>
                <li><a data-scroll class="hover" href="#support">Support</a></li>
                <li><a data-scroll class="hover" href="#keepInTouch">Keep in touch</a></li>
            </ul>
        </nav>
    </div>
</div>