<section id="support">
    <div class="wrapper">
        <h2 class="title">Support through...</h2>
        <div class="supports">
            <div id="prayer" class="supportsItem">
                <div class="prayer">
                    <span class="prayerIcon icon-heart"></span>
                    <span class="prayerText">Prayer.</span>
                </div>
            </div>
            <div id="inkind" class="supportsItem">
                <div class="inkind">
                    <span class="inkindIcon icon-gift"></span>
                    <span class="inkindText">In kind.</span>
                </div>
            </div>
            <div id="cash" class="supportsItem">
                <div class="cash">
                    <span class="cashIcon icon-coin"></span>
                    <span class="cashText">Cash.</span>
                </div>
            </div>
            <div id="share" class="supportsItem">
                <div class="share">
                    <span class="shareIcon icon-bubbles"></span>
                    <span class="shareText">Tell your friends!</span>
                </div>
            </div>
        </div>
        <p class="supportMessage">We would be grateful for your support!</p>
    </div>
</section>