.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    overflow: hidden;
}
@include media_query(48em) {
    .wrapper {
        width: 90%;
    }
}
@include media_query(75em) {
    .wrapper {
        width: 80%;
    }
}

.title {
    font-size: 2.25em;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    margin: 0 0 .5em;
}
@include media_query(48em) {
    .title {
        font-size: 2.85em;
    }
}
@include media_query(75em) {
    .title {
        font-size: 3em;
    }
}

.sm, .md, .lg {
    display: none;
    height: 0;
    width: 0;
}
.sm {
    display: block;
}
@media screen and (min-width: 48em) {
    .md { display: block; }
    .sm { display: none; }
}
@media screen and (min-width: 75em) {
    .lg { display: block; }
    .md { display: none; }
}
.lt-ie9 {
    background-color: #d1d1d1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;

    p {
        font-size: 1.2em;
        text-align: center;
        color: #222;

        a {
            font-weight: bold;
            color: #FB7064;
            border-bottom: 1px solid #FB7064;
        }
    }
}

@import
    "home",
    "camp_details",
    "support",
    "footer"
;