@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ua2c78');
	src:url('../fonts/icomoon.eot?#iefix-ua2c78') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ua2c78') format('woff'),
		url('../fonts/icomoon.ttf?-ua2c78') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.5;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-coin:before {
	content: "\e603";
}
.icon-location:before {
	content: "\e600";
}
.icon-calendar:before {
	content: "\e601";
}
.icon-bubbles:before {
	content: "\e604";
}
.icon-wand:before {
	content: "\e602";
}
.icon-gift:before {
	content: "\e605";
}
.icon-food:before {
	content: "\e606";
}
.icon-heart:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e609";
}
.icon-github:before {
	content: "\e608";
}