---
# Main SASS
---

// Typograhpy
$font-family: "Lato Hairline", Arimo, Droid Sans, Helvetica, Arial, sans-serif;
$font-size: 100%;
$line-height: 1.5;

@import
    "webfont",
    "font_icon",
    "util/prefixing",
    "util/grid",
    "util/media",
    "animate",
    "base",
    "app"
;